<section>
    <form [formGroup]="formGroupLogin" class="form">
        <div class="control-form">
            <label>Correo:</label>
            <input formControlName="email" type="emial" name="emailText" placeholder="@">
        </div>
        <div class="control-form">
            <label>Contraseña:</label>
            <input formControlName="password" type="password" name="pasword">
        </div>
        <a class="registrarse" [routerLink]="['/signup']">Registrarse</a>
        <button (click)="login()" [disabled]="formGroupLogin.invalid">Iniciar sesión</button>
    </form>
</section>
