@import '/src/styles/variables.scss';

.card-detail{

    border-radius: 12px;
    margin: 0 20px;
    overflow: hidden;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
    img {
        width: 100%;
    }
    p {
        font-weight: 400;
        color: $hof-color;
        margin: 10px 15px;
    }
}